# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MITT_LEFT

config ZMK_KEYBOARD_NAME
	default "Mitt Keyboard"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_MITT_LEFT || SHIELD_MITT_RIGHT

config ZMK_SPLIT
	default y

endif
